<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，是mapper接口的全路径-->
<mapper namespace="com.yffd.jysg.springboot.demo.mapper.User2Mapper">

    <!--resultMap – 是最复杂也是最强大的元素，用来描述如何从数据库结果集中来加载对象-->
    <resultMap id="userResultMap" type="com.yffd.jysg.springboot.demo.entity.User2Entity">
        <id property="name" column="name"></id>
    </resultMap>

    <!--sql – 可被其他语句引用的可重用语句块-->
    <sql id="colums">
        id,name,age,pwd
    </sql>

    <select id="findAll" resultMap="userResultMap">
        select
        <include refid="colums" />
        from  user
    </select>

    <select id="findById" resultMap="userResultMap">
        select
        <include refid="colums" />
        from  user
        where  id=#{id}
    </select>

    <insert id="insert" parameterType="com.yffd.jysg.springboot.demo.entity.User2Entity" >
        INSERT INTO
        user
        (name,age,pwd)
        VALUES
        (#{name}, #{age}, #{pwd})
    </insert>

    <update id="update" parameterType="com.yffd.jysg.springboot.demo.entity.User2Entity" >
        UPDATE
        users
        SET
        <if test="name != null">name = #{name},</if>
        <if test="pwd != null">pwd = #{pwd},</if>
        name = #{name}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        user
        WHERE
        id =#{id}
    </delete>

</mapper>